.body {
  width: 100%;

}

.container2 {
  margin-bottom: 1em;
  display: flex;
  justify-content: space-between;
  gap: 5px;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 18em;


}

.item {

  box-shadow: 8px 7px black;
  margin: 8px 4px;
  background-color: rgb(255, 255, 255, 0.822);
  min-width: 200px;
  max-width: 350px;
  cursor: pointer;
  border: 4px grey solid;
  border-radius: 8px;
  transition: all 0.5s ease;
  overflow: hidden;
}


.fondoprincipal {


  background-color: wheat;
}

.container2 img {
  width: 100%;
  height: 55%;


}

.container2 .pie h1 {
  font-size: x-large;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  background-color: black;
  color: white;
}

.pie {
  font-size: large;
  text-align: center;
  padding-bottom: 3%;
}

.noLink {
  color: black;
  text-decoration: none;
}

.container {
  margin-top: 18.5em;
  justify-content: space-around;
  background: linear-gradient(to left top, rgb(0, 0, 0), rgb(255, 255, 255));
}

.col-md-6 .contenedor .caja {

  width: 50%;
  margin-top: 30%;
  margin-bottom: 30%;


}


.fondodetalle .container .row img {

  width: 100%;
  height: 35%;




}



#titulo-escuderia {
  text-align: center;
  background-color: brown;
  color: white;
  font-family: 'Times New Roman', Times, serif;
  font-style: italic;
}

.row h1 {
  text-align: center;
  font-size: x-large;
}

.col-md-6 .contenedor {

  display: flex;

  flex-direction: row;
  flex-wrap: nowrap;




}


.col-md-6 {

  border: 1px black solid;
  padding-top: 3%;



}

.col-md-6 .contenedor .caja img {
  width: 100%;
  height: 60%;



}


.letras {
  font-style: italic;



}

.fondodetalle .container {
  display: block;
  background-color: white;

}

.fondodetalle {
  background-color: wheat;
}

.btn {
  transition: all 0.9s ease-out;
  cursor: pointer;
  color: white;
  width: 140px;
  height: 60px;
  font-weight: bold;
  border-radius: 10px;


}

.btn-primary {


  background-color: blue;
  border: 4px rgb(2, 2, 163) solid;


}

.btn-primary:hover {
  transform: translateY(-5px);
  background-color: rgb(2, 2, 88);

}

.btn-secondary {

  background-color: orange;
  border: 4px rgb(168, 111, 5) solid;

}

.btn-secondary:hover {
  transform: translateY(-5px);
  background-color: rgb(83, 55, 2);

}

.button-block button {
  display: block;
  width: 100%;
  background: linear-gradient(to left top, rgb(168, 41, 41), rgb(67, 48, 48));
}

.botton-detalle {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15%;
}

.fondodetalle footer {
  background-color: rgb(213, 208, 208);
}

.fondodetalle .btn-primary {


  background-color: blue;
  border: 4px rgb(2, 2, 163) solid;


}

.fondodetalle .btn-primary:hover {

  transform: translateY(-5px);
  background-color: rgb(2, 2, 88);


}

.fondodetalle .btn-secondary {


  background-color: green;
  border: 4px rgb(0, 80, 0) solid;


}

.fondodetalle .btn-secondary:hover {
  transform: translateY(-5px);
  background-color: rgb(2, 178, 2);

}

.botton-nuevoElemento {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15%;

}


.btn.btn-danger {
  background-color: red;
  border: 4px rgb(180, 5, 5) solid;
  margin-top: 1em;



}

.btn.btn-success {
  background-color: rgb(5, 185, 5);
  border: 4px green solid;
  margin-top: 1em;




}

.btn.btn-info {
  background-color: rgb(5, 185, 5);
  border: 4px green solid;
  margin-top: 1em;
  color: white;

}



.fondodetalle .btn-secondary:hover {
  transform: translateY(-5px);
  background-color: rgb(2, 178, 2);

}

.fondodetalle .titulo-tabla {
  background-color: rgb(108, 130, 255);
}


.container-fluid .formulario {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container .formulario {
  display: grid;
  flex-direction: row;
  background-color: rgb(175, 147, 147);
  border: 2px rgb(80, 70, 70) solid;

}

.nav {
  position: fixed;
  left: 0;
  top: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
  max-height: 340px;
  background: linear-gradient(to left top, rgb(168, 41, 41), rgb(67, 48, 48));
  color: white;
  text-align: center;

}

.nav-logo em {
  font-weight: 500;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;


}

.nav img {
  width: 125px;
  height: 100%;
}

.formulario img {
  width: 125px;
  height: 150px;

}

.nav-menu ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 30px;
}

.nav-menu ul li {
  list-style: none;



}


.nav-menu ul li .link {
  text-decoration: none;
  font-weight: 600;
  color: wheat;
  margin-right: 3em;



}

.link:hover,

.active {
  border-bottom: 2px solid wheat;
}

.container-fluid {
  padding-top: 5.7em;
  margin-top: 12em;

  background-color: wheat;

}