<div class="containerflex">
    <div class="teams">
        <% equipos.forEach(equipo=> { %>
            <div class="item">
                <a href="/post/<%= equipo.id %>" class="noLink">
                    <img src="<%= equipo.vehiculo %>">
                    <div class="pie">
                        <h1>
                            <%= equipo.teamName %>
                                <%= equipo.debut %>
                        </h1>
                    </div>
                    <div class="logo">
                        <img src="<%= equipo.logo %>">
                    </div>
                </a>
            </div>
            <% }); %>
    </div>
</div>