.fondo {
  background-color: wheat;
}

.teams {
  /*donde están metidos todos los equipos*/
  margin-bottom: 1em;
  display: flex;
  justify-content: center;
  gap: 5px;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 18em;


}

.compr {
    background - color: #ffffff;
    border - radius: 5px;
    border - width: 1px;
}

.filter {
    color: white;
    border - radius: 5px;
    background: rgb(88, 1, 1);
    border - width: 2px;
    border - color: white;
}

.entr_num {
    width: 60 %;
    height: 20px;
    background: rgba(255, 255, 255, 0.545);
    border - radius: 5px;
    text - align: center;
}

.item {

  box-shadow: 8px 7px black;
  margin: 8px 4px;
  background-color: rgb(255, 255, 255, 0.822);
  min-width: 200px;
  max-width: 350px;
  cursor: pointer;
  border: 4px grey solid;
  border-radius: 8px;
  transition: all 0.5s ease;
  overflow: hidden;
  align-items: center;
}

.logo {
  /*la foto del escudo de cada equipo*/
  top: 0;
  height: 60%;
  width: 100%;

}

.containerflex img {
  width: 100%;
  height: 55%;


}

.pie h1 {
  /*nombre y fecha en los equipos en la pagina principal*/
  font-size: large;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  background-color: black;
  color: white;
}

.noLink {
  color: black;
  text-decoration: none;
}

.container {
  /*donde está metido todo lo de detalle*/
  margin-top: 18.5em;
  justify-content: space-around;
  background: linear-gradient(to left top, rgb(0, 0, 0), rgb(255, 255, 255));
  display: block;
}

.caja {
  /*la caja de cada uno de los dos pilotos en detalle*/

  width: 50%;
  margin-top: 30%;
  margin-bottom: 30%;
}


.container .row img {
  /*la foto del coche en detalle*/

  width: 100%;
  height: 35%;
}


.row h1 {
  /*titulo pilotos detalle*/
  text-align: center;
  font-size: x-large;
}

.col-md-6 .contenedor {
  /*la caja donde entran los dos pilotos*/

  display: flex;

  flex-direction: row;
  flex-wrap: nowrap;
}


.col-md-6 {
  /*lo que divide en dos la pagina detalle al principio*/

  border: 1px black solid;
  padding-top: 3%;
}

.col-md-6 .contenedor .caja img {
  /*la imagen de cada uno de los pilotos*/
  width: 100%;
  height: 60%;
}


.letras {
  /*todo lo que pone en la tabla del arriba a la izquierda en detalle*/
  font-style: italic;
}

.searcher {
  width: 100%;
  background-color: rgba(245, 222, 179, 0);
}

.btn {
  transition: all 0.9s ease-out;
  cursor: pointer;
  color: white;
  width: 140px;
  height: 60px;
  font-weight: bold;
  border-radius: 10px;
}


.btn-secondary {

  background-color: orange;
  border: 4px rgb(168, 111, 5) solid;

}

.btn-secondary:hover {
  transform: translateY(-5px);
  background-color: rgb(83, 55, 2);

}

.button-block button {
  display: block;
  width: 100%;
  background: linear-gradient(to left top, rgb(168, 41, 41), rgb(67, 48, 48));
}

.botton-detalle {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15%;
}

.botton-nuevoElemento {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15%;

}


.btn.btn-danger {
  background-color: red;
  border: 4px rgb(180, 5, 5) solid;
  margin-top: 1em;



}

.btn.btn-success {
  background-color: rgb(5, 185, 5);
  border: 4px green solid;
  margin-top: 1em;




}


.container-fluid .formulario {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container .formulario {
  display: grid;
  flex-direction: row;
  background-color: rgb(175, 147, 147);
  border: 2px rgb(80, 70, 70) solid;

}

.nav {
  position: fixed;
  left: 0;
  top: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
  max-height: 340px;
  background: linear-gradient(to left top, rgb(168, 41, 41), rgb(67, 48, 48));
  color: white;
  text-align: center;

}

.botton-detalle .btn.btn-danger {
  background: linear-gradient(to left top, rgb(116, 116, 116), rgb(0, 0, 0));
  border-color: black;
  border-width: 3px;
}

.nav-logo em {
  font-weight: 500;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.nav img {
  width: 125px;
  height: 100%;
}

.formulario img {
  width: 125px;
  height: 150px;

}

.nav-menu ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 30px;
}

.nav-menu ul li {
  list-style: none;

}

#favorites-container {
  position: fixed;
  top: 0;
  right: -250px;
  width: 250px;
  height: 100%;
  background: rgba(255, 68, 0, 0.838);
  overflow-y: auto;
  transition: right 0.3s ease;
}

.keys {
  width: 50%;
  height: 30px;
  background: rgba(255, 255, 255, 0.496);
  border-radius: 5px;
  text-align: center;
}

.num_ent {
  width: 20%;
  height: 30px;
  background: rgba(255, 255, 255, 0.496);
  border-radius: 5px;
  text-align: center;
}

.favorite-heart {
  bottom: 10px;
  right: 10px;
  cursor: pointer;
  color: white;
  /* Color del corazón no seleccionado */
}

.favorite-heart.selected {
  color: red;
  /* Color del corazón seleccionado */
}

#close-button {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: transparent;
  color: #333;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

#favorites-container ul {
  margin-top: 40px;
  padding: 0;
  list-style: none;
}

#close-button {
  background-color: wheat;
  border-radius: 5px;
}

#favorites-container ul li {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

#favorites-button {
  position: fixed;
  top: 20px;
  right: 20px;
  background-color: #f2ff00a3;
  color: rgb(83, 0, 0);
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.busqueda {
  background: linear-gradient(to left top, rgb(254, 254, 254), rgb(0, 0, 0));
  border-radius: 6px;
  height: 30px;
  transition: transform 0.3s ease;
}

.busqueda:hover {
  transform: translateY(-3px);
}

.entrada {
  width: 80%;
  height: 30px;
  background: rgba(255, 255, 255, 0.545);
  border-radius: 5px;
  text-align: center;
}

.compr {
  background-color: #ffffff;
  border-radius: 5px;
  border-width: 1px;
}

.filter {
  color: white;
  border-radius: 5px;
  background: rgb(88, 1, 1);
  border-width: 2px;
  border-color: white;
}

.entr_num {
  width: 60%;
  height: 20px;
  background: rgba(255, 255, 255, 0.545);
  border-radius: 5px;
  text-align: center;
}

.nav-menu ul li .link {
  /*donde pone inicio en la cabecera*/
  text-decoration: none;
  font-weight: 600;
  color: wheat;
  margin-right: 3em;
}

.container-fluid {
  /*lo que contiene todo lo del formulario*/
  padding-top: 5.7em;
  margin-top: 12em;

  background-color: wheat;

}

.estilo-tabla {
  font-weight: 700;
}

input:invalid {
  background-color: rgba(255, 27, 27, 0.837);
}

.favorite {
  color: red;
}
